# Homework 2 (100 points)
## Due: Tuesday, Sept 14 @ 6:30 PM 

**The very first thing you should do is save your own copy of this Homework by clicking on File -> "Save a copy in Drive"**

This homework is divided into 4 sections which all perform different tasks on the initial data provided.  Read the data description below carefully to understand the data, then work on each section.

When you complete this assignment, **please submit 1 file and 1 link via Canvas before the deadline.**


1.   Your Jupyter Notebook code as a .ipynb file (File -> "Download .ipynb")
2.   As a comment on your .ipynb submission please include a link to your Google CoLab Jupyter notebook. Click the "Share" button in the top right.  Ensure that anyone with the link has at least "Commenter" access. **Once you submit your HW on Canvas, please do not make any more edits to the Jupyter notebook until after your HW is graded**

Please use the naming convention:  

**firstname_lastname_homework2.ipynb**

**Until both steps 1 and 2 have been completed, your assignment is considered INCOMPLETE and you will receive -10% per day late until the assignment is completed.**

## Data Description

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

See Kaggle page for more info: https://www.kaggle.com/shivamb/netflix-shows

The data is available in the Canvas Module for **pandas** under the name `netflix_titles.csv`

Load this data into `pandas` and use `index_col='show_id'`

In [2]:
# Write code to load data below
import pandas as pd

netflix = pd.read_csv('/content/drive/MyDrive/Data/netflix_titles.csv', index_col = 'show_id')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Section 1: Dataset Overview
**2.5 points each (total 10 points)**

Let's get an initial understanding of the data we are working with. Provide answers and code below.

1.  How many rows and columns are in this dataset?
2.  Provide a list of the column names
3.  Print the **first 10 rows** of this dataset
4.  Use `.info()` to understand where there may be null values in the data

In [3]:
# Write code below
netflix.shape

(6234, 11)

In [4]:
netflix.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [5]:
netflix.head(n=10)

             type  ...                                        description
show_id            ...
81145628    Movie  ...  Before planning an awesome wedding for his gra...
80117401    Movie  ...  Jandino Asporaat riffs on the challenges of ra...
70234439  TV Show  ...  With the help of three human allies, the Autob...
80058654  TV Show  ...  When a prison ship crash unleashes hundreds of...
80125979    Movie  ...  When nerdy high schooler Dani finally attracts...
80163890  TV Show  ...  A young journalist is forced into a life of cr...
70304989    Movie  ...  In a dystopian future, an insurance adjuster f...
80164077    Movie  ...  Fabrizio Copano takes audience participation t...
80117902  TV Show  ...  As California's 2016 fire season rages, brave ...
70304990    Movie  ...  A struggling couple can't believe their luck w...

[10 rows x 11 columns]

In [6]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6234 entries, 81145628 to 70153404
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          6234 non-null   object
 1   title         6234 non-null   object
 2   director      4265 non-null   object
 3   cast          5664 non-null   object
 4   country       5758 non-null   object
 5   date_added    6223 non-null   object
 6   release_year  6234 non-null   int64
 7   rating        6224 non-null   object
 8   duration      6234 non-null   object
 9   listed_in     6234 non-null   object
 10  description   6234 non-null   object
dtypes: int64(1), object(10)
memory usage: 584.4+ KB

## Section 2:  Data Cleaning
**5 points each (total 10 points)**

Let's take some steps to improve the data set for analysis purposes.


1.   There are NA/NaN values in `director`, `cast`, and `country`.  Let's replace these with the value `"Unknown"` using `fillna`
2.   Create a new column `is_produced_in_usa` which is True if `country` contains the word `United States` and False otherwise.  (Hint: Sometimes `country` contains multiple countries separated by commas.  We want to be able to catch `United States` even if it's in this list with other countries also.

***Challenge (not required for points)*** 
Make a new column called `duration_bucket`.  This column will bucket the values found in `duration`, similar to how we grouped values in HW1.  Examples of buckets might be `61-90 minutes`, `91-120 minutes`, `120+ minutes`, or `3+ seasons`.  To do this, I recommend creating a function that converts the value in `duration` to the `bucket_name`, then using the `pandas` `.apply()` function to the `duration` column to create a transformed column, which you can then insert into the dataframe.

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html

In [7]:
netflix.count()

type            6234
title           6234
director        4265
cast            5664
country         5758
date_added      6223
release_year    6234
rating          6224
duration        6234
listed_in       6234
description     6234
dtype: int64

In [8]:
netflix.fillna("Unknown", inplace=True)

In [9]:
netflix.count()

type            6234
title           6234
director        6234
cast            6234
country         6234
date_added      6234
release_year    6234
rating          6234
duration        6234
listed_in       6234
description     6234
dtype: int64

In [10]:
is_produced_in_usa = netflix.country.str.contains("United States")
netflix['is_produced_in_usa'] = is_produced_in_usa

In [11]:
netflix[["country", "is_produced_in_usa"]]

                                           country  is_produced_in_usa
show_id
81145628  United States, India, South Korea, China                True
80117401                            United Kingdom               False
70234439                             United States                True
80058654                             United States                True
80125979                             United States                True
...                                            ...                 ...
80000063                             United States                True
70286564                             United States                True
80116008                                   Unknown               False
70281022                            United Kingdom               False
70153404                             United States                True

[6234 rows x 2 columns]

In [12]:
true_count = sum(is_produced_in_usa)
print("Number of movies produced in the US")
print(true_count)

Number of movies produced in the US
2610

## Section 3: Data Questions
**10 points each (50 points total)**

Explore the data set to answer the questions below.  In addition to providing the answer, please provide the code you used to answer each question.

1.   What % of Netflix content is produced in the USA?  You can calculate the numerator and denominator separately.  (Hint: Use the new column you created in Section 1)
2.   List all the **movies** directed by **M. Night Shyamalan** that are available on Netflix.
3.   Which **TV Shows produced in Japan** that were released in **2006** are available on Netflix?
4.   How many **movies** and how many **TV shows** (reported separately) did Netflix add in the **month of July 2019**?
5.   List the Netflix content (movies/TV shows) about the FBI (`description` contains "FBI") chronologically by release year (most recent first)

***Challenge (not required for points)*** 

What % of content on Netflix is added in the same year as it is released? Does this differ by movie vs TV show?

In [13]:
#3.1 What percent of Netflix content is produced in the USA?
perc_usa = (true_count / 6234)*100
print("% produced in USA:")
print(perc_usa)

% produced in USA:
41.86717998075073

In [16]:
# 3.2 Movies produced by M. Night Shyamalan
netflix.head()
is_sham = netflix.director == 'M. Night Shyamalan'
print("Movies directed by M. Night Shyamalan:")
netflix[is_sham]

Movies directed by M. Night Shyamalan:

           type  ... is_produced_in_usa
show_id          ...
70044688  Movie  ...               True

[1 rows x 12 columns]

In [15]:
# 3.3 TV shows produced in Japan and released in 2006

netflix.head()
is_tv = netflix.type == 'TV Show'
is_japan = netflix.country == 'Japan'
is_released = netflix.release_year == 2006
print("TV shows produced in Japan and released in 2006:")
netflix[is_tv & is_japan & is_released]

TV shows produced in Japan and released in 2006:

             type  ... is_produced_in_usa
show_id            ...
70204970  TV Show  ...              False
70205014  TV Show  ...              False
70204957  TV Show  ...              False

[3 rows x 12 columns]

In [21]:
# 3.4 How many TV shows and how many movies did Netflix add in July 2019
is_movie = netflix.type == "Movie"
is_jul_fir = netflix.date_added >= "July 1, 2019"
is_jul_last = netflix.date_added <= "July 31, 2019"

movies_in_july = sum(is_jul_fir & is_jul_last & is_movie)
print("Number of movies produced in July 2019:")
movies_in_july

Number of movies produced in July 2019:

224

In [29]:
is_tv = netflix.type == "TV Show"
is_jul_fir = netflix.date_added >= "July 1, 2019"
is_jul_last = netflix.date_added <= "July 31, 2019"

shows_in_july = sum(is_jul_fir & is_jul_last & is_tv)
print("Number of TV shows produced in July 2019:")
shows_in_july

Number of TV shows produced in July 2019:

67

In [23]:
# 3.5 List movies/TV show about the FBI chronologically by release year (most recent first)
fbi = netflix.description.str.contains("FBI")  
netflix[fbi].sort_values(by=['release_year'], ascending=False)

             type  ... is_produced_in_usa
show_id            ...
81053953    Movie  ...               True
70281312  TV Show  ...               True
80114855  TV Show  ...               True
80077417  TV Show  ...               True
80063740  TV Show  ...               True
80173176    Movie  ...              False
80201750  TV Show  ...               True
70153390  TV Show  ...               True
80176878  TV Show  ...               True
80065182  TV Show  ...               True
80038358    Movie  ...              False
80049281    Movie  ...               True
70177067  TV Show  ...               True
80039644    Movie  ...               True
80024132  TV Show  ...               True
70105371    Movie  ...               True
70098332    Movie  ...               True
70066433    Movie  ...               True
70044705    Movie  ...               True
70061480    Movie  ...               True
60024942    Movie  ...               True
1151721     Movie  ...               True
70153408  TV Show  ...               True

[23 rows x 12 columns]

## Section 4: Exploration
**10 points each (30 points total)**

Now choose **3** of your own questions/hypotheses that you would like to explore in this data set.  

Write down your questions/hypotheses as well as your findings and code.  Questions should be of reasonable complexity (either involving data transformations like creating new columns, multiple conditions, or aggregations like `value_counts`).

In [47]:
#1 How many movies and TV shows feature the director in the cast?

director_in_cast = [x[0] in x[1] for x in zip(netflix['director'], netflix['cast'])]
#total_director_in_cast = sum(director_in_cast)
netflix["director_in_cast"] = director_in_cast
unkn = netflix.director == "Unknown"
total_excluding_unknown_directors = sum(director_in_cast & ~unkn)
print("Total number of movies/TV shows where the director is featured in the cast:")
total_excluding_unknown_directors

Total number of movies/TV shows where the director is featured in the cast:

205

In [27]:
#2 How many movies are both rated R or unrated movies are between 1-1.5 hours?

is_rated_r = netflix.rating == "R"
is_rated_ur = netflix.rating == "UR"
is_over_hr = netflix.duration >= "60 min"
is_under_hrhalf = netflix.duration <= "90 min"

movie_count = sum(is_rated_r | is_rated_ur & is_over_hr & is_under_hrhalf)
print("Total number of rated R & unrated movies between 1 - 1.5 hours:")
movie_count

Total number of rated R & unrated movies between 1 - 1.5 hours:

509

In [28]:
# 3 how many movies in the last 3 years were added to Netflix in the same year they were released?

added_2018 = netflix.date_added.str.contains("2018")
released_2018 = netflix.release_year == 2018
added_2019 = netflix.date_added.str.contains("2019")
released_2019 = netflix.release_year == 2019
added_2020 = netflix.date_added.str.contains("2020")
released_2020 = netflix.release_year == 2020

sub_total_1 = sum(added_2019 & released_2019 & is_movie)
sub_total_2 = sum(added_2018 & released_2018 & is_movie)
sub_total_3 = sum(added_2020 & released_2020 & is_movie)

#sub_total_1
#sub_total_2
#sub_total_3

total = sub_total_1 + sub_total_2 + sub_total_3
print("Total number of movies in the last 3 years that were added to Netflix in the same year they were released:")
total

Total number of movies in the last 3 years that were added to Netflix in the same year they were released:

743